@import "tailwindcss";

@theme {
  --shadow-3xl: 0px 4px 8px 0px black;
  --shadow-4xl: 0px 2px 4px 2px black;
  --text-tiny: clamp(1.2rem, 4vw, 1.3rem);
  --text-small: clamp(1.7rem, 4vw, 2.3rem);
}

@media (max-width: 370px) {
  .app {
    padding: 0;
  }

  .calculator {
    padding: 5px;
    border-radius: 0;
  }

  .calc-btn,
  .display-container {
    font-size: smaller;
  }
}

